<% content_for :title do %>About<% end %>
<div class="container">
  <div id="content">
    <article id="page-28" class="row-fluid post-28 page type-page status-publish hentry">
      <header class="entry-header">
        <h1 class="entry-title ">Kappa Chapter History</h1><hr class="featurette-divider __before_content">        </header>
      <div class="entry-content">
        <h1>Kappa Theta Tau</h1>
        <h2>A chapter of Theta Tau, Professional Engineering Fraternity</h2>
        <p>&nbsp;</p>
        <h4>The nation’s oldest and foremost Fraternity for Engineers</h4>
        <h2>1916 – 1940</h2>
        <p><b>Colony Certified:</b> March 25, 1916</p>
        <p><b>Chapter Founding:</b> November 25, 1919</p>
        <p><b>Founder:</b> George Gieb</p>
        <p>The Kappa Chapter of Theta Tau Professional Engineering Fraternity was initially installed on March 25, 1916.  Founded by George Gieb, a graduate student in Civil Engineering, the chapter attracted many bright members during its initial 23 years of existence, initiating 455 members in total.  Some notable members during this period of Kappa’s existence include Charles Luckman (1931), a Hall of Fame Laureate, and Harry Darby (1917), who played an instrumental role in convincing Eisenhower to run for President. Due to unknown reasons the chapter dissolved 1939 for several decades.</p>
        <h2>2005 – Present</h2>
        <p><b>Colony Reactivation:</b> Fall 2005</p>
        <p><b>Chapter Reinstated:</b> February 9, 2008</p>
        <p><b>New Chapter Founders:</b> Steven Choi, Sean Safavinejad, Gautam Amin, Bertrand Tay, Joe Cocco, Ankeet Patel, Ui Aik Cheah, Peter Ho, Chen Xu, Calvin Gudeman, Sravan Mettupalli, Kai Amundsen, and Amy Chow.</p>
        <p><b>Our Chapter’s Mission:</b> To continue Theta Tau’s long tradition of professional development coupled with meaningful community service and excellence in academics; the new Kappa Chapter of Theta Tau seeks out the best and brightest men and women in the field of engineering.</p>
        <p>	In 2005 Steven Choi, a member of the Zeta Chapter, transferred to the University of Illinois and decided to start the de-activated Kappa Chapter back up.  After filling out all the necessary paperwork, the colony began to slowly grow.  With the guidance from Steven, the colony leaders (Sean Safavinejad, Gautam Amin, Bertrand Tay, Joe Cocco, Ankeet Patel, and Ui Aik Cheah) succeeded in laying the foundation for the Fraternity on campus.  During this time, the colony also received a lot of help from Peter Ho, Chen Xu, Calvin Gudeman, Sravan Mettupalli, Kai Amundsen, and Amy Chow.  After initiating 5 members in February 2007, the colony began seriously preparing to obtain Chapter status, as the colony charter was set to expire the following year.  During the fall 2007 semester, the fraternity more than doubled in membership — 26 were initiated — and all the necessary paperwork was filed to petition for Chapter status.  On February 9, 2008, the Kappa Colony was reactivated as a Chapter of Theta Tau.</p>
        <p>	Currently, Kappa has 54 active members and is continuing to grow.  Each semester, the Kappa Chapter hosts professional, philanthropic, and social events on the University of Illinois campus.  Members of Kappa attend leadership conferences and the University of Illinois Engineering Open House.  They also volunteer on campus through various engineering programs and events.  Members also enjoy taking part in social events including dinners, camping, and pick-up sports.  The involvement and dedication of many members has allowed Kappa to mature with tremendous speed over the past few years, and it will continue to grow in the future.</p>
      </div>
    </article>
  </div>
</div>
