#hero-title-wrapper{
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  #hero-title{
    color: white;
    display: table-cell;
    font-size: 20px;
    height: 20%;
    margin: auto;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 75%;
  }
}
