<% if user_signed_in? %>
  <li> 
    <a href="<%=resumes_path%>">Resumes</a>
  </li>
<% end %>

<% if current_user.try(:brother?) %>
  <li>
    <a href="#">Upload Resume</a>
  </li>
  <li>
    <a href="#">Change Info</a>
  </li>
<% end %>

